html, body {
  min-width: 940px+120;
  width: 100%;
  position: relative;
}

.clrfx {
  clear: both;
}

.content {
  width: 940px+120;
  margin: 0 auto;
}

.fancybox-skin {
  background: none !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}

.fancybox-close {
  &:hover {
    opacity: 0.5;
  }
}