.body-top {
  width: 100%;
  background: url('../images/bg-index-top.jpg');
  height: 600px;
  background-position: center top;
  background-repeat: no-repeat;
  .holder {
    width: 990px;
    margin: 0 auto;
    position: relative;
    .visual {
      background: url('../images/visual-packages-962.png');
      width: 962px;
      height: 352px;
      margin-left: -148px;
      position: absolute;
      top: 222px;
    }
    .info {
      position: absolute;
      right: 4px;
      top: 172px;    
      font-size: 20px;
      font-family: "helios";
      color: rgb(37, 37, 63);
      .title {
      }
      ul {
        list-style: none;
        margin-left: 100px;
        margin-top: 0;
        p {
          margin-bottom: 14px;
          margin-top: 0;
        }
        li {
          margin-bottom: 14px;
          margin-left: 21px;
          &:before {
            position: absolute;
            display: block;
            content: '';
            background: #3eb730;
            width: 11px;
            height: 11px;
            border-radius: 11px;
            margin-left: -21px;
            margin-top: 8px;
          }
        }
      }
      .btn {
        width: 235px;
        height: 40px;
        border-radius: 2px;
        display: block;
        background: #3db72f;
        text-align: center;
        font-size: 16px;
        font-family: "helios";
        color: rgb(255, 255, 255);
        font-weight: bold;
        text-shadow: 0px 0px 20px rgba(53, 133, 152, 0.176);
        text-decoration: none;
        padding-top: 9px;
        box-sizing: border-box;
        margin-left: 140px;
        margin-top: 32px;
      }
    }
  }
}

.midle-row {
  width: 100%;
  height: 120px;
  background: white;
  box-shadow: 0px 0px 78.4px 20px rgba(83, 83, 83, 0.07);
  position: relative;
  .holder {
    width: 990px;
    margin: 0 auto;
    position: relative;
    top: 30px;
    .col {
      text-align: center;
      display: inline-block;
      width: 330px;
      margin: 0 -4px;
      &:nth-child(1) {
        .visual {
          margin-left: -15px;
        }
      }
      &:nth-child(2) {
        width: 328px;
        .visual {
          margin-left: 55px;
        }
      }
      &:nth-child(3) {
        .visual {
          margin-left: 35px;
        }
      }
      &>* {
        display: inline-block;
        vertical-align: middle;
      }
      .visual {
        margin-left: 5px;
      }
      .text {
        width: 156px;
        font-size: 16px;
        font-family: "helios";
        color: rgb(37, 37, 63);
        margin-left: 20px;
        text-align: left;
      }
      &:nth-child(2) {
        border-left: 1px solid #3db72f;
        border-right: 1px solid #3db72f;
      }
    }
  }
}

.body-bottom {
  background: url('../images/bg-index-bottom.jpg');
  width: 100%;
  background-position: center -200px;
  background-repeat: no-repeat;
  .wrapper {
    width: 990px;
    margin: 0 auto;
    background: url('../images/visual-packages-types-820.png') no-repeat 53px 127px;
    text-align: center;
    padding-top: 360px;
    .title {
      font-size: 21px;
      font-family: "helios";
      color: rgb(156, 36, 61);
      font-weight: bold;
      text-transform: uppercase;
    }
    p {
      font-size: 16px;
      font-family: "helios";
      color: rgb(37, 37, 63);
      line-height: 1.375;
      width: 669px;
      margin: 0 auto;
      margin-top: 23px;
    }
  }
}

#footer {
  width: 990px;
  margin: 0 auto;
  margin-top: 86px;
  margin-bottom: 36px;
  .small-text {
    font-size: 11px;
    font-family: "helios";
    color: rgb(37, 37, 63);
    vertical-align: super;
    text-align: left;
    p {
      margin-bottom: 26px;
    }
    a {
      color: rgb(37, 37, 63);
      text-decoration: none;
    }
    .shiza {
      margin-bottom: -7px;
    }
  }
  .warn {
    font-size: 38px;
    font-family: 'helios-light';
    color: rgb(57, 25, 26);
    text-transform: uppercase;
    overflow: hidden;
    margin-top: -3px;
    .holder {
      transform: scale(0.77, 1);
      -moz-transform: scale(0.77, 1);
      -webkit-transform: scale(0.77, 1);
      -ms-transform: scale(0.77, 1);
      transform-origin: left top;
      width: 133%;
      letter-spacing: -0.004em;
    }
  }
}
