#main-menu {
  background: #f4f4f4;
  height: 120px;
  .holder {
    width: 940px;
    margin: 0 auto;
    .logo {
      float: left;
    }
    .menu {
      list-style: none;
      padding: 0;
      margin: 0;
      float: right;
      li {
        float: left;
      }
    }
  }
}