extends layout

block content
  #main-menu
    .holder
      a.logo(href="/")
        img(src="/images/logo.png")
      ul.menu
        li
          a(href="") Дисбактериоз
        li
          a(href="") О хилак форте
        li
          a(href="") Хилак форте детям
        li
          a(href="") Специалистам
        li
          a(href="") FAQ
  
  .body-bottom
    .wrapper

    #footer
      .small-text.clearfix
        p.add-info
          За дополнительной информацией обращаться: <br/>
          ООО «Тева»  Россия, 115054, 
          город Москва, улица Валовая, дом 35 <br/>
          Тел. <a href="tel:+74956442234">+7 495 644-22-34</a>, факс <a href="tel:+74956442235">+7 495 644-22-35/36</a>. E-mail: <a href="mailto:info@teva.ru">info@teva.ru</a>, <a href="http://www.teva.ru">www.teva.ru</a>
        p.copy
          &copy; 2005-2015, Хилак форте
      .warn
        .holder.
          ИМЕЮТСЯ ПРОТИВОПОКАЗАНИЯ к применению.
          ознакомьтесь<br> с инструкцией или проконсультируйтесь у специалиста.