extends layout

block content
  #main-menu
    .wrapper
      a.logo(href="index.html")
        img(src="images/logo-gastal-210.png")
      .holder
        a(href="") О Гастале
        a(href="") Специалистам
        a(href="") Статьи
        a(href="") FAQ
        a(href="") Контакты
      .clrfx
  .body-top
    .holder
      .visual
      .info
        .title
          img(src="images/label-top-index.png")
        ul.green-dot
          p против
          li изжоги,
          li боли,
          li тяжести в желудке<sup>1</sup>.
        a.btn(href="") Инструкция
  .midle-row
    .holder
      .col
        img.visual(src="images/ico-magic-66.png")
        .text.
          Быстро и надолго
          устраняет изжогу<sup>1</sup>
      .col
        img.visual(src="images/ico-chery-75.png")
        .text.
          Выпускается<br>
          в трех вкусах
      .col
        img.visual(src="images/ico-family-47.png")
        .text.
          Разрешен взрослым<br>
          и детям с 6 лет<sup>1</sup>

  .body-bottom
    .wrapper
      .title Традиционный или со вкусами мяты и вишни
      p Гастал выпускается в форме вишневых и мятных таблеток для рассасывания, а также в форме таблеток для рассасывания без вкусовых добавок.
    #footer
      .small-text
        p.
          <sup>1</sup> Инструкция по медицинскому применению препарата Гастал®.
          Тяжесть в желудке, боль в желудке и пищеводе — симптомы диспепсических явлений.
          Быстро — немедленно (сразу после приема), надолго — продолжительно (около 2-х часов).
        p.
          Гастал®. Антацидное средство.<br>
          За дополнительной информацией обращаться:
          Общество с Ограниченной Ответственностью «Тева» Россия, 119049,
          Москва, ул. Шаболовка, д.10, стр.2, бизнес-центр «Конкорд»<br>
          Тел. +7 495 644-22-34, факс +7 495 644-22-35/36. E-mail: info@teva.ru, www.teva.ru
      .warn
        .holder
          ИМЕЮТСЯ ПРОТИВОПОКАЗАНИЯ к применению.
          ознакомьтесь с инструкцией или проконсультируйтесь у специалиста.