extends layout

block content
  #main-menu
    .holder
      a.logo(href="/")
        img(src="/images/logo.png")
      ul.menu
        li
          a(href="") Дисбактериоз
        li
          a(href="") О хилак форте
        li
          a(href="") Хилак форте детям
        li
          a(href="") Специалистам
        li
          a(href="") FAQ
  .main-slider
    a.arrow.left(href="")
      img(src="/images/ico-arrow-left.png")
    .holder
      .slide.active
        .title <strong>Устраняет</strong> дисбактериоз и его симптомы <sup>2</sup>:
        ul
          li диарею
          li вздутие
          li запор
      .slide
        .title <strong>Слайд 2 Устраняет</strong> дисбактериоз и его симптомы <sup>2</sup>:
        ul
          li диарею
          li вздутие
          li запор
    a.arrow.right(href="")
      img(src="/images/ico-arrow-right.png")