extends layout

block content
  #main-menu
    .holder
      a.logo(href="/")
        img(src="/images/logo.png")
      ul.menu
        li
          a(href="") Дисбактериоз
        li
          a(href="") О хилак форте
        li
          a(href="") Хилак форте детям
        li
          a(href="") Специалистам
        li
          a(href="") FAQ

  .main-slider
    a.arrow.left(href="")
      img(src="/images/ico-arrow-left.png")
    .holder
      .slide.active
        .title <strong>Устраняет</strong> дисбактериоз и его симптомы<sup>2</sup>:
        ul
          li — диарею
          li — вздутие
          li — запор
      .slide
        .title <strong>Слайд 2 Устраняет</strong> дисбактериоз и его симптомы<sup>2</sup>:
        ul
          li – диарею
          li – вздутие
          li – запор
    a.arrow.right(href="")
      img(src="/images/ico-arrow-right.png")
  .content
    img.visual-product(src="/images/visual-hilak-100ml.png")
    .promo
      .unit
        img.ico(src="/images/ico-baby-cup.png")
        p Легко давать ребенку<br> добавляя в воду или сок<sup>2</sup>
      .unit
        img.ico(src="/images/ico-thumb-up.png")
        p 50 лет успешного<br> применения
      .unit
        img.ico(src="/images/ico-no1.png")
        p Среди метаболических<br> пробиотиков<sup>3</sup>
      .unit
        img.ico(src="/images/ico-plant.png")
        p Производится<br> в Германии
      .clrfx
    a.video-link
      img(src="/images/thumb-video.png")
    .clrfx

  .body-bottom
    .wrapper

    #footer
      .small-text.clearfix
        p.add-info
          За дополнительной информацией обращаться: <br/>
          ООО «Тева»  Россия, 115054, 
          город Москва, улица Валовая, дом 35 <br/>
          Тел. <a href="tel:+74956442234">+7 495 644-22-34</a>, факс <a href="tel:+74956442235">+7 495 644-22-35/36</a>. E-mail: <a href="mailto:info@teva.ru">info@teva.ru</a>, <a href="http://www.teva.ru">www.teva.ru</a>
        p.copy
          &copy; 2005-2015, Хилак форте
      .warn
        .holder.
          ИМЕЮТСЯ ПРОТИВОПОКАЗАНИЯ к применению.
          ознакомьтесь<br> с инструкцией или проконсультируйтесь у специалиста.
