extends layout

block content
  #main-menu
    .holder
      a.logo(href="/")
        img(src="/images/logo.png")
      ul.menu
        li
          a(href="") Дисбактериоз
        li
          a(href="") О хилак форте
        li
          a(href="") Хилак форте детям
        li
          a(href="") Специалистам
        li
          a(href="") FAQ
        